# -----------------------------------------
# Project Specific: Artifacts, Logs, Data
# -----------------------------------------

# Ignore logs
Logs/

# Allow Artifacts folder and include only essential pkl files
!Artifacts/
!Artifacts/best_classifier.pkl
!Artifacts/data_processing_pipeline.pkl
!Artifacts/label_encoder.pkl
Artifacts/**/*
!Artifacts/*.pkl

# Ignore all pkl files globally except those allowed above
*.pkl

# Ignore specific Data subfolders
Data/raw/
Data/processed/
Data/output/

# -----------------------------------------
# Python Specific: Cache, Compiled Files
# -----------------------------------------

__pycache__/
*.py[cod]
*$py.class

# -----------------------------------------
# Virtual Environments
# -----------------------------------------

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# -----------------------------------------
# Jupyter Notebook Checkpoints
# -----------------------------------------

.ipynb_checkpoints/

# -----------------------------------------
# Testing Related
# -----------------------------------------

.pytest_cache/
.tox/
.coverage
coverage.xml
nosetests.xml

# -----------------------------------------
# Docker, Pip, Poetry Lock Files
# -----------------------------------------

docker-compose.override.yml
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
pdm.lock
.pdm.toml
.pdm-build/

# -----------------------------------------
# IDE Specific: PyCharm, VSCode
# -----------------------------------------

.idea/
.vscode/

# -----------------------------------------
# OS and Miscellaneous
# -----------------------------------------

.DS_Store
Thumbs.db
*.log
